@model SimpleBankWebAPI.TransferViewModel
@using DataAccessLayer
@{
    ViewData["Title"] = "Index";
}

<h4>Fund Transfer Transactions</h4>

<div class="table-responsive border border-dark">
    <table class="table align-middle table-sm">
        <thead>
            <tr>
                <th>
                    Reference #.
                </th>
                <th>
                    Posting Date
                </th>
                <th>
                    Account #.
                </th>
                <th style="text-align: center;">
                    Amount
                </th>
                <th>
                    Recipient #.
                </th>
                <th>
                    Description
                </th>
                <th style="text-align: center;">
                    Running Balance
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EntityList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td scope="row" style="text-align: right; font-family:monospace;">
                        @Utility.HandleAmountFormat(item.Amount.ToString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationAccount)
                    </td>
                    <td style="font-size: small;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td scope="row" style="text-align: right; font-family:monospace;">
                        @Utility.HandleAmountFormat(item.RunningBalance.ToString())
                    </td>
                    <td scope="row" style="text-align: center;">
                        <form asp-route-id="@item.TransactionId" method="post">
                            <a class="btn btn-sm btn-outline-success asp-controller="Transactions" asp-action="Details" asp-route-id="@item.TransactionId">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
