@model TestSimpleBankWeb.AccountsViewModel
@using Utility
@{
    ViewData["Title"] = "Accounts";
}

@*
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" id="mytoastr111">
    <div class="toast-body alert-info">
        Model.myToaster.Message
    </div>
</div>*@


@*<div aria-live="polite" aria-atomic="true" class="position-fixed d-flex justify-content-center align-items-center w-100">
    <!-- Then put toasts within -->
    <div id="mytoastr"  class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="" class="rounded me-2" alt="">
            <strong class="me-auto">Account</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Item updated successfully.
        </div>
    </div>
</div>*@

@section Scripts {

<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#mytoastr').toast({ delay: 2000 });
    //    $('#mytoastr').toast('show');
    //});
</script>

}


<h4>List of Accounts</h4>
<hr />

<ul class="nav">
    <li class="nav-item">
        <a class="btn btn-primary btn-sm" asp-controller="Accounts" asp-action="CreateAccount">
            <i class="fas fa-circle-plus"></i>
            Account
        </a>
    </li>
    <li class="nav-item" style="padding-top: 0px; padding-right: 5px; padding-bottom: 10px; padding-left: 5px;">
        <a class="btn btn-primary btn-sm" asp-controller="Transactions" asp-action="Transfer">
            <i class="fas fa-copy"></i>
            Transfer
        </a>
    </li>
</ul>
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Account_ID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th scope="col" style="text-align: center;">
                Balance
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EntityList)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Account_ID)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td scope="row" style="text-align: right;">
                    @Utility.HandleAmountString(item.SavingsBalance.ToString())
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.AccountTypeName)
                </td>
                <td scope="row" style="text-align: center;">
                    <form asp-route-id="@item.Account_ID" method="post">
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Accounts" asp-action="CreateAccount" asp-route-id="@item.Account_ID">
                            <i class="fas fa-edit"></i>
                        </a>
                    </form>
                    @*  @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
