@model TestSimpleBankWeb.TransferViewModel
@using Utility
@{
    ViewData["Title"] = "Index";
}

<h4>List of Accounts</h4>
<hr />

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                Reference #.
            </th>
            <th>
                Posting Date
            </th>
            <th>
                Account #.
            </th>
            <th style="text-align: center;">
                Amount
            </th>
            <th>
                Destination Acct.
            </th>
            <th>
                Description
            </th>
            <th style="text-align: center;">
                Running Balance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EntityList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Transaction_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td scope="row" style="text-align: right;">
                    @Utility.HandleAmountString(item.Amount.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td scope="row" style="text-align: right;">
                    @Utility.HandleAmountString(item.RunningBalance.ToString())
                </td>
                <td scope="row">
                    <form asp-route-id="@item.Transaction_ID" method="post">
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Transactions" asp-action="Details" asp-route-id="@item.Transaction_ID">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
